body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #e4c7c7;
    position: relative; /* adicionado position: relative para que os elementos absolutos sejam posicionados em relação ao body */
}

#formulario-recuperacao-senha {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #00000094;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 95%;
    height: 30px;
    border: solid 2px;
    border-color: #000000;
    padding: 10px;
    margin-bottom: 20px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #bb6809;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #865114;
}

.pet img {
    width: 60px; 
    height: 60px; 
    position: absolute;
    top: 14%;
    left: 68%;
}

.patas1 img {
    position: absolute;
    top: 10%;
    left: 2%;
    transform: rotate(-18deg);
    }
    
.patas2 img {
position: absolute;
top: 10%;
left: 62%;
transform: rotate(-8deg);
}

.patas1 img, .patas2 img {
    width: 590px; 
    height: 590px;
}