/* Reset Básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos do Corpo */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4c7c7;
  color: #333;
  text-align: center;
}

/* Estilos do Cabeçalho */
header {
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  color: #D95D02;
}

h3 {
  font-size: 1.5em;
  color: #6A6A6A;
}

/* Estilos do Main */
main {
  position: relative;
  padding: 40px 20px;
}

.image-container {
  margin: 20px auto;
}

.imagem-redonda {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(214, 118, 8, 0.86));
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #F4A30E;
  border-radius: 45px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.button:hover {
  background-color: #b08e14;
}

/* Estilos do Rodapé */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.pata img {
  width: 30px;
  height: 30px;
}

/* Estilos de Responsividade */
@media (max-width: 768px) {
  h1 {
      font-size: 2em;
  }

  h3 {
      font-size: 1.2em;
  }

  .imagem-redonda {
      width: 200px;
      height: 200px;
  }

  .button {
      font-size: 14px;
      padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5em;
  }

  h3 {
      font-size: 1em;
  }

  .imagem-redonda {
      width: 150px;
      height: 150px;
  }

  .button {
      font-size: 12px;
      padding: 8px 16px;
  }

  .pata img {
      width: 20px;
      height: 20px;
  }
}
